<h1 class="title">Welcome to {{title}}!</h1>
<wsb-home></wsb-home>
<div class="columns">
    <div class="column">
        <p wsb-hightlight color="green"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa id fugiat sint saepe natus itaque consequatur earum inventore voluptatibus repellat aliquam numquam exercitationem placeat, ad accusantium mollitia iste quod?</p>
    </div>
    <div class="column">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae consequuntur numquam modi natus ipsa veritatis!</p>
    </div>
</div>
<div class="columns">
    <div class="column">
        <wsb-counter (countChange)="onCountChange($event)"></wsb-counter>
    </div>
    <div class="column">
        <wsb-counter [count]="10"></wsb-counter>
    </div>
</div>
<router-outlet></router-outlet>