<h1 class="title">Welcome to {{title}}!</h1>
<wsb-home></wsb-home>
<div class="columns">
    <div class="column">
        <h2 class="subtitle">Pipe</h2>
        <p>{{12.5 | currency}}</p>
        <p>{{12.5 | currency: 'EUR'}}</p>
        <p>{{12.5 | currency: '$' : false}}</p>
        <p>{{currentDate | date}}</p>
        <p>{{currentDate | date: 'longDate'}}</p>
        <p>{{currentDate | date: 'fullDate'}}</p>
    </div>
</div>
<div class="columns">
    <div class="column">
        <p wsb-hightlight="green"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa id fugiat sint saepe natus itaque consequatur earum inventore voluptatibus repellat aliquam numquam exercitationem placeat, ad accusantium mollitia iste quod?</p>
    </div>
    <div class="column">
        <p >Lorem, ipsum dolor sit amet consectetur <span wsb-hightlight>llllll</span> adipisicing elit. Beatae consequuntur numquam modi natus ipsa veritatis!</p>
        <button type="button" [ngClass]="
        {'button': true,
            'is-danger': isToggled}" (click)="toggle()">Toggle class</button>
    </div>
    <div [ngSwitch]="userName">
        <p *ngSwitchCase="'John'">Witaj, Jonh</p>
        <p *ngSwitchCase="'Mary'">Witaj, Mery</p>
        <button (click)="toggleName()">Toggle name</button>
    </div>
</div>
<div class="columns">
    <div class="column">
        <wsb-counter (countChange)="onCountChange($event)"></wsb-counter>
    </div>
    <div class="column">
        <wsb-counter [count]="10"></wsb-counter>
    </div>
</div>
<router-outlet></router-outlet>